.banner {
    background: url("https://t4.ftcdn.net/jpg/01/19/59/99/360_F_119599925_6LWokxQhEIVE0rymMRjqrhwXzytbZSiV.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color: aliceblue;
}